{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A new programming or logic puzzle every Mon-Fri">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Press+Start+2P">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'core/css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/xcode.css' %}">
    {% endcompress %}
    
    <!-- RSS Feeds -->
    <link rel="alternate" type="application/rss+xml" href="/rss/" />
    <link rel="alternate" type="application/atom+xml" href="/atom/" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">
                <a href="/">Problem of the Day</a><br>
                <span>A new programming or logic puzzle every Mon-Fri</span>
              </h1>
              {% url 'past_problems' as past_problems %}
              {% url 'suggest' as suggest %}
              {% url 'login' as login %}
              {% url 'logout' as logout %}
              <ul class="nav masthead-nav">
                <li {% if request.get_full_path == past_problems %}class="active"{% endif %}><a href="{{past_problems}}">Past Problems</a></li>
                <li {% if request.get_full_path == suggest %}class="active"{% endif %}><a href="{{suggest}}">Suggest</a></li>
                {% if request.user.is_authenticated %}
                <li {% if request.get_full_path == profile %}class="active"{% endif %}><span>{{request.user.username}}</span> <b class="caret"></b>
                  <ul>
                    <li><a href="{{logout}}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li {% if request.get_full_path == login %}class="active"{% endif %}><a href="{{login}}?next={{request.get_full_path}}">Login</a></b>
                {% endif %}
                <li>
                  <form id="subscribe" method="GET" action="" class="form-inline">
                    <input class="form-control" name="email" type="email" placeholder="Subscribe via e-mail" required>
                  </form>
                </li>
              </ul>
            </div>
          </div>

          <div class="cover">
            {% if messages %}
                <ul id="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
          </div>

          <div class="mastfoot text-center">
            <div class="inner">
              <p>Content curated by <a href="https://twitter.com/maxburstein">@MaxBurstein</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    {% compress js %}
    <script src="{% static 'core/js/global.js' %}"></script>
    <script src="{% static 'core/js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% endcompress %}
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f6e35d33df7f53a"></script>
  </body>
</html>
