{% extends "core/email/base.html" %}
{% block title %}Confirm Subscription{% endblock %}
{% block content %}
	<h1>Problem of the Day</h1>
	<p>Hi there,</p>
	<p>Thanks for taking the time to visit <a href="http://www.problemotd.com">http://www.problemotd.com</a> and subscribe. A new programming or logic puzzle will pop up in your box every Mon-Fri.</p>
	<p>Please <a href="http://www.problemotd.com/confirm/?status={{status}}">Click Here</a> to confirm your subscription or copy and paste the text below into your browser.</p>
	<p>http://www.problemotd.com/confirm/?status={{status}}</p>
	<p>Thanks, have a lovely day.</p>
{% endblock %}
{% block footer %}{% endblock %}